@model Laboratory.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.College)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.College)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandfatherNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandfatherNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrandfatherNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrandfatherNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidecalfileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidecalfileNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
